<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.authority.modules.dictionary.DictionaryMapper">

  <sql id="columns">
    id, dict_code, dict_items::text AS dict_items, description, created_at, updated_at,
    created_by, updated_by, version
  </sql>

  <select id="findById" resultType="com.qs.authority.modules.dictionary.SysDictionary">
    SELECT <include refid="columns"/> FROM qs__auth__sys_dict WHERE id = #{id}
  </select>

  <select id="countByCode" resultType="long">
    SELECT count(*) FROM qs__auth__sys_dict
    WHERE dict_code = #{dictCode}
    <if test="excludeId != null">AND id &lt;&gt; #{excludeId}</if>
  </select>

  <select id="list" resultType="com.qs.authority.modules.dictionary.SysDictionary">
    SELECT <include refid="columns"/> FROM qs__auth__sys_dict
    <where>
      <if test="dictCode != null">dict_code = #{dictCode}</if>
    </where>
    ORDER BY ${orderBy}
    LIMIT #{limit} OFFSET #{offset}
  </select>

  <select id="count" resultType="long">
    SELECT count(*) FROM qs__auth__sys_dict
    <where>
      <if test="dictCode != null">dict_code = #{dictCode}</if>
    </where>
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO qs__auth__sys_dict (dict_code, dict_items, description, created_by, updated_by)
    VALUES (#{dictCode}, CAST(#{dictItems,jdbcType=VARCHAR} AS jsonb), #{description,jdbcType=VARCHAR},
            #{createdBy,jdbcType=BIGINT}, #{updatedBy,jdbcType=BIGINT})
  </insert>

  <update id="update">
    UPDATE qs__auth__sys_dict
    <set>
      <if test="dictCode != null and dictCode.present">dict_code = #{dictCode.value,jdbcType=VARCHAR},</if>
      <if test="dictItems != null and dictItems.present">
        dict_items = CAST(#{dictItems.value,jdbcType=VARCHAR} AS jsonb),
      </if>
      <if test="description != null and description.present">
        description = #{description.value,jdbcType=VARCHAR},
      </if>
      updated_by = #{updatedBy,jdbcType=BIGINT},
    </set>
    WHERE id = #{id} AND version = #{version}
  </update>

  <delete id="delete">
    DELETE FROM qs__auth__sys_dict WHERE id = #{id} AND version = #{version}
  </delete>
</mapper>
